
.Button {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  padding: 1.2rem 2.5rem;
  background-color: #1D3557;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left:10px;
}

.grid-container {
display: grid;
background-color: #EDE7E3; 
grid-template-areas:
    'links header header header header header'
    'links main main main main main'
    'links footer footer footer footer footer';
}

.grid-item {
  background-color: #EDE7E3; 
  border-style:groove;
}

.item1 {
  grid-area: links ;
  background-color:#16697A; display:inline-block;
  color:#ffffff; 
  
}

.item2 {
grid-area: header ;
background-color:#FFA62B;
color:#1B1F3B; 
text-align:center;
}

.item3 {
  grid-area: main ;
  text-align:center;
  color:#000000; 
}
.item4 {
  grid-area:footer;
  
  text-align:center;
  background-color:#82C0CC;
  color:#000000; 
}


